/* Global */

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Euclid Circular A Regular, Helvetica Neue, sans-serif;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

#__next {
    height: 100%;
}

*,
*:before,
*:after {
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}
div[data-framer-component-type='Text'] span {
    font-size: var(--framer-font-size) !important;
    line-height: var(--framer-line-height) !important;
}

.container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

/* Fonts */

@font-face {
    font-display: swap;
    font-family: Euclid Circular A Regular;
    font-weight: 400;
    src: url("/fonts/EuclidCircularA-Regular.woff")
            format("woff"),
        url("/fonts/EuclidCircularA-Regular.woff2")
            format("woff2");
}
@font-face {
    font-display: swap;
    font-family: Euclid Circular A Regular Italic;
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/EuclidCircularA-Regular.woff")
            format("woff"),
        url("/fonts/EuclidCircularA-Regular.woff2")
            format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Euclid Circular A Semibold;
    font-weight: 600;
    src: url("/fonts/EuclidCircularA-Semibold.woff")
            format("woff"),
        url("/fonts/EuclidCircularA-Semibold.woff2")
            format("woff2");
}
@font-face {
    font-display: swap;
    font-family: Euclid Circular A Semibold Italic;
    font-weight: 600;
    font-style: italic;
    src: url("/fonts/EuclidCircularA-Semibold.woff")
            format("woff"),
        url("/fonts/EuclidCircularA-Semibold.woff2")
            format("woff2");
}